<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@page.errors.count, "error") %> prohibited the creation of this page:
      </h2>

      <ul>
        <% @page.errors.full_messages.each do |m| %>
          <li><%= m %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :chapter_id %>

  <div class="field">
    <%= f.label :quote %>
    <%= f.text_field :quote %>
  </div>

  <div class="field">
    <%= f.label :thank_you %>
    <%= f.text_field :thank_you %>
  </div>

  <div class="field">
    <%= f.label :lesson_learned %>
    <%= f.text_field :lesson_learned %>
  </div>


  <div class="action">
    <%= f.submit %>
  </div>
<% end %>

<%= form_tag page_path(@page), method: :delete do %>
  <%= submit_tag "Delete Page" %>
<% end %>
